<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160080045451-8opq1vfuqvjps7bp45hcfbln597n4co2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160080045451-8opq1vfuqvjps7bp45hcfbln597n4co2</string>
	<key>API_KEY</key>
	<string>AIzaSyDQYSQPWnBT7ryXsJv4KXBHKN_8z8bO43U</string>
	<key>GCM_SENDER_ID</key>
	<string>160080045451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyAppProject</string>
	<key>PROJECT_ID</key>
	<string>study-app-af28f</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-af28f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160080045451:ios:9a5d6da6abf04ccff77b8e</string>
</dict>
</plist>